@import "./_var.scss";

#footer {
    width: 100%;
    display: block !important;

    .line {
        width: 100%;
        height: 2px;
        background-color: $tintColor;
    }

    p {
        text-align: center;
    }
}