@import "./_var.scss";

#gallery {

    #galleryBox {
        background-color: $superLightYellow;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        padding-top: 20px;
        align-items: center;

        @include s600 {
            flex-direction: column;
        }

        .galleryLine {
            background-color: $tintColor;
            width: 3px;
            height: 50%;
        }

        .galleryItem {
            padding: 10px;
            width: calc(100% - 20px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 70%;
                height: 200px;
                object-fit: contain;
            }

            h3 {
                margin: 0;
                margin-top: 20px;
            }

            p {
                text-align: center;
                margin-bottom: 20px;
                margin-top: 20px;
                font-size: 14px;
                width: 80%;
            }

            button {
                width: 50%;
                font-size: 12px;
            }
        }

    }
}